# Declare sysfs_mmcblk type (also defined in vendor CIL for mmc block devices)
type sysfs_mmcblk, fs_type, sysfs_type;

# Allow init to mount vendor overlay
allow init vendor_overlay_file:dir mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;
allow init vendor_configs_file:dir mounton;

# Allow init to create socket_device(s)
allow init socket_device:sock_file create_file_perms;

# Other init rules
allow init proc:file { write setattr };

# Allow init to set IO scheduler for mmc block devices
allow init sysfs_mmcblk:file { write open setattr };
allow init sysfs_devices_block:file { write open };
