type nvram_daemon, domain;
type nvram_daemon_exec, exec_type, vendor_file_type, file_type;

allow nvram_daemon proc_cmdline:file { getattr read open };
allow nvram_daemon sysfs_dt_firmware_android:dir search;
allow nvram_daemon metadata_file:dir search;
allow nvram_daemon sysfs_dt_firmware_android:file { getattr read open };
